body{
    margin:0;
    font-family:Arial;
    background:#fff0f5;
}

header{
    background:pink;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    color:white;
}

header a{
    text-decoration:none;
    background:white;
    padding:10px 20px;
    border-radius:5px;
    color:pink;
}

.container{
    display:flex;
    gap:20px;
    padding:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.card h2,p{
    padding:10px;
}

button{
    margin:10px;
    padding:10px 20px;
    border:none;
    background:pink;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.form-container{
    width:400px;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

form{
    display:flex;
    flex-direction:column;
}

input,select{
    margin:10px 0;
    padding:10px;
}

.success{
    text-align:center;
    margin-top:100px;
}